{% load static %}  
<link rel="stylesheet" href="{% static 'index/style.css' %}" />

<section id="footer">
    <br>
    <hr>
    <br>
    <section class="columncontenerfooter">
        <div class="columnfooter">    
            <p>SOCIAL NETWORKS</p>
            <p><a target="_blank" href= "https://www.facebook.com/carlos.roca.9277/">Facebook</a></p>
            <p>Line</p>
            <p>Whatsapp</p>
            <p><a target="_blank" href= "https://github.com/Rnewix">Github</a></p>
        </div>
        <div class="columnfooter">
            <p>MENU</p>
            <p><a href= "{% url 'index:home' %}">Home</a></p>
            <p><a href= "{% url 'my_projects:my_projects' %}">Portfolio</a></p>
            <p><a href= "{% url 'about_us:about_us' %}">About me</a></p>
            <p><a href= "{% url 'contact:contact' %}">Contact</a></p>
        </div>
    </section>
    <br>
    <p id="copyright">&copy;2022. All rights reserved</p>
</section>

