{% extends "index/base.html" %}
                
{% block title %} About me {% endblock %}  



{% block content %} 
<style>
    #aboutmetitle{
        font-size:xx-large
    }

   .aboutme{
    padding-left: 15px;
   } 
</style>

<br>
<h3 id='aboutmetitle'> About me</h3>

<br>

<section class="aboutme">
    <p><b>Name:</b> Roca Dono Carlos Humberto.<br></p>
    <p><b>Age:</b> 33 years.</p>

    <br>

    <p>I am a proactive person who is passionate about technology, with a desire to develop a long career in web development. 
        Used to work in team, self-learning and continuous study.
    </p>
</section>
    <br>
<p><h3>Background</h3></p>
<section class="aboutme">
    
    <br>
    <p>Actual technologies and Knowledges:</p>
    <ul>                         
        <li>Python</li>
        <li>Django</li> 
        <li>Git and Github</li> 
        <li>SQL Databases/ MySQL</li>
        <li>Html</li>              
    </ul>
    <br>
    <p>Technologies in course</p>
    <ul>                         
        <li>FastAPI</li>                
    </ul>
    <br>
    </p>Main plataform:</p> 
    <ul>                         
        <li>Linux/ubuntu environment</li>                
    </ul>
    <br>
    </p>Language:</p>
    <ul>                         
        <li>English: TOEIC</li>    
        <li>Japanese: N3</li>    
        <li>Spanish: Native level</li>                
    </ul>

</section>
{% endblock %} 
















