{% extends "index/base.html" %}
                
{% block title %} About me {% endblock %}  



{% block content %} 

<h2> About me</h2>
<p>
<b>Name:</b>Roca Dono Carlos Humberto<br>
<b>Age:</b>33 years.<br><br>

I am a proactive person who is passionate about technology, with a desire to develop a long career in web development. Accustomed to teamwork, self-learning and continuous study.
</p>
<br>
<p>
    <b>Background</b><br><br>
    Actual technologies and Knowledges:
    <ul>                         
        <li>Python</li>
        <li>Django</li> 
        <li>Git and Github</li> 
        <li>SQL Databases/ MySQL</li>
        <li>Html</li>              
    </ul>
    Technologies in course
    <ul>                         
        <li>FastAPI</li>                
    </ul>
    Main plataform: 
    <ul>                         
        <li>Linux/ubuntu environment</li>                
    </ul>

    Language:
    <ul>                         
        <li>English: TOEIC</li>    
        <li>Japanese: N3</li>    
        <li>Spanish: Native level</li>                
    </ul>
    
</p>

{% endblock %} 
















