
/* --- General CSS----------------------------------------- */

body {
    background-color: rgba(248, 248, 248, 0.034);
}


/* --- Header----------------------------------------- */


/* --- Nav Bar----------------------------------------- */


/* --- Footer ----------------------------------------- */


.columnfooter{
    width: 50%;
    margin: auto;
    float: right;
    text-align: center;
}

#copyright{
    width: 100%;
    text-align: center;
}
/* --- Contact form ---------------------------------------- */

